build/
*.o
*.gch
proto/metrics.pb.cc
proto/metrics.pb.h
proto/vm.grpc.pb.cc
proto/vm.grpc.pb.h
proto/vm.pb.cc
proto/vm.pb.h
storageVM
info.txt
.vscode/settings.json
vmInfo.txt
*.pb.h
*.pb.cc
tests/node_modules
depends/x86_64-pc-linux-gnu/
scripts/AIO-setup.log
compile_commands.json