# Copyright (c) [2023-2024] [Sparq Network]
# This software is distributed under the MIT License.
# See the LICENSE.txt file in the project root for more information.

version: '3'

services:
  orbitersdk-cpp-dev:
    build: 
      context: .
    ports:
      - "8080-8099:8080-8099"
      - "8110-8111:8110-8111"
    volumes:
      - :/orbitersdk-volume
    tty: true
    stdin_open: true
