html {
    font-size: 100%;
    font-size-adjust: none;
    --webkit-font-size-adjust: none;
}

body {
    margin: 0;
    padding: 0;
    background-color: #2c2c2c;
    font-family: reem_kufi;
    color: white;
    overflow-x: hidden;
}

main {
    display: flex;
    flex-flow: row wrap;
    align-items: center;
    justify-content: space-around;
    height: 80vh;
    min-height: 50rem;
    gap: 3rem 0;
}

a {
    text-decoration: inherit;
    color: inherit;
}

main > div {
    display: inline-block;
}

main > div > p {
    max-width: 100%;
    width: 35rem;
    text-justify: justify;
    --webkit-text-justify: justify;
    font-size: 24px;
}

main > div > h1 {
    font-size: 40px;
}

section {
    height: 100vh;
}

.clear_spacing {
    margin: 0;
    padding: 0;
}

.offset_up {
    margin-top: -7rem;
}

.avapower {
    position: fixed;
    bottom: 3rem;
    right: 3rem;
    width: 17rem;
    height: auto;
    max-width: 20vw;
}

.nav_header {
    width: 100vw;
    background-color: #ff1616;
    color: white;
    display: inline-block;
    position: sticky;
    top: 0;
}

.float_apart {
    display: flex;
    flex-flow: row nowrap;
    align-items: center;
    justify-content: space-between;
}


.logo_container {
    display: flex;
    flex-flow: row wrap;
    align-items: center;
    justify-content: space-around;
    font-size: 2.7rem;
    margin: 0rem 2rem;
}

.logo_container > span {
    font-weight: bold;
    margin: 0 0.4rem;
}

.logo {
    width: 8rem;
    height: auto;
    max-height: 8rem;
    margin: -0.9rem;
}

.nav_buttons {
    display: inline-flex;
    flex-flow: row wrap;
    list-style: none;
    justify-content: center;
    padding: 0;
}

.nav_buttons li {
    margin: 0.2rem 2rem;
    display: inline-block;
    flex: 1;
    min-width: 7rem;
    text-align: center;
    font-size: 1.5rem;
}

.nav_buttons a {
    color: white;
    font-weight: bold;
    transition: color 0.3s linear;
}

.nav_buttons a:hover {
    color: #7c0000;
}

.decoration_container {
    max-width: 100%;
    width: 50rem;
    height: auto;
    margin-top: -4rem;
}

.take_full_container {
    max-width: 100%;
    width: auto;
    height: auto;
}

.body_link {
    color: #ff1616;
    font-weight: bold;
}

.faucet {
    display: flex;
    justify-content: center;
}

.faucet_requester {
    margin-top: auto;
    margin-bottom: auto;
    border-radius: 90px;
    background-color: #ff1616;
    max-width: 100%;
    width: 45rem;
    height: auto;
}

.faucet_requester h1 {
    font-size: 60px;
    font-weight: bold;
    text-align: center;
    width: 100%;
    margin: 0;
    padding: 0;
}

.faucet_inner {
    height: 25rem;
    border: 5px solid black;
    background-color: white;
    margin-bottom: 90px;
    font-size: 27px;
}

.faucet_inner div {
    display: flex;
    flex-flow: column nowrap;
    align-content: center;
    height: 100%;
    margin: 0 auto;
    width: 100%;
    padding: 0;
    text-align: justify;
    --webkit-text-align: justify;
}

.faucet_inner > div > div > p {
    text-align: center;

    font-size: 45px;
    font-family: reem_kufi;
    max-width: 100%;
    margin-bottom: 0.5rem;
    color: white;
}

.faucet_inner button {
    border: none;
    outline: none;
    font-size: 30px;
    font-family: reem_kufi;
    background-color: #ff1616;
    max-width: 100%;
    width: 25rem;
    color: white;
    margin: 0 auto;
    cursor: pointer;
}

.faucet_inner button:disabled {
    background-color: #c4c4c4;
    color: black;
    cursor: default;
}

.faucet_inner > div {
    border: 12px solid white;
    background-color: #2c2c2c;
    box-sizing: border-box;
    padding: 1.3rem 3rem;
}

.fa-brands {
    font-style: normal;
    display: inline-block;
}

.footnote {
    font-size: 14px;
    margin: -4rem auto;
    text-align: center;
}

 @font-face {
  font-family: reem_kufi;
  src: url(/assets/fonts/reem_kufi/reemkufi_all.ttf);
}
